In [4]:
import requests
import pandas as pd
import time
from datetime import datetime, timedelta
import os
from dotenv import load_dotenv

load_dotenv()

API_KEY = os.getenv("GNEWS_API")
BASE_URL = "https://gnews.io/api/v4/search"
QUERY = "AAPL stock OR Apple stock"
MAX_RESULTS_PER_CALL = 100

# Generate 1-month windows from today back to 2020-01-01
end_date = datetime.today()
start_date = datetime(2020, 1, 1)

date_ranges = []
while end_date > start_date:
    range_start = end_date - timedelta(days=30)
    if range_start < start_date:
        range_start = start_date
    date_ranges.append((range_start.strftime('%Y-%m-%d'), end_date.strftime('%Y-%m-%d')))
    end_date = range_start - timedelta(days=1)

# Load previously saved articles if they exist
try:
    existing_df = pd.read_csv("../data/gnews_partial.csv")
    completed_dates = set(pd.to_datetime(existing_df['publishedAt']).dt.strftime('%Y-%m'))
    all_articles = existing_df.to_dict("records")
except FileNotFoundError:
    all_articles = []
    completed_dates = set()

print(f"üü° Skipping {len(completed_dates)} previously fetched windows.")

# Fetch articles month-by-month
for start, end in date_ranges:
    range_key = pd.to_datetime(start).strftime('%Y-%m')
    if range_key in completed_dates:
        print(f"‚úÖ Skipping {range_key} (already done)")
        continue

    params = {
        'q': QUERY,
        'lang': 'en',
        'from': start,
        'to': end,
        'max': MAX_RESULTS_PER_CALL,
        'token': API_KEY,
    }

    print(f"üìÖ Fetching {start} to {end}...")
    try:
        response = requests.get(BASE_URL, params=params)
    except Exception as e:
        print(f"‚ùå Request error: {e}")
        continue

    if response.status_code == 200:
        data = response.json()
        articles = data.get('articles', [])
        print(f"üîπ Got {len(articles)} articles for {start} to {end}")

        for article in articles:
            all_articles.append({
                'title': article['title'],
                'description': article.get('description'),
                'content': article.get('content'),
                'publishedAt': article['publishedAt'],
                'source': article['source']['name'],
                'url': article['url']
            })

        # Save after each loop
        df = pd.DataFrame(all_articles)
        df.to_csv("../data/gnews_partial.csv", index=False)
        print(f"üíæ Saved progress. Total articles: {len(df)}")

    elif response.status_code == 429:
        print("üö´ Rate limit hit! Stopping for today.")
        break

    else:
        print(f"‚ö†Ô∏è Failed to fetch ({response.status_code})")

    time.sleep(1)  # safety delay

print("‚úÖ Done for now. You can rerun tomorrow to continue.")

üü° Skipping 0 previously fetched windows.
üìÖ Fetching 2025-06-20 to 2025-07-20...
üîπ Got 10 articles for 2025-06-20 to 2025-07-20
üíæ Saved progress. Total articles: 10
üìÖ Fetching 2025-05-20 to 2025-06-19...
üîπ Got 10 articles for 2025-05-20 to 2025-06-19
üíæ Saved progress. Total articles: 20
üìÖ Fetching 2025-04-19 to 2025-05-19...
üîπ Got 10 articles for 2025-04-19 to 2025-05-19
üíæ Saved progress. Total articles: 30
üìÖ Fetching 2025-03-19 to 2025-04-18...
üîπ Got 10 articles for 2025-03-19 to 2025-04-18
üíæ Saved progress. Total articles: 40
üìÖ Fetching 2025-02-16 to 2025-03-18...
üîπ Got 10 articles for 2025-02-16 to 2025-03-18
üíæ Saved progress. Total articles: 50
üìÖ Fetching 2025-01-16 to 2025-02-15...
üîπ Got 10 articles for 2025-01-16 to 2025-02-15
üíæ Saved progress. Total articles: 60
üìÖ Fetching 2024-12-16 to 2025-01-15...
üîπ Got 10 articles for 2024-12-16 to 2025-01-15
üíæ Saved progress. Total articles: 70
üìÖ Fetching 2024-11-15 to 2024-12-15...
üîπ Got 10 articles for 2024-11-15 to 2024-12-15
üíæ Saved progress. Total articles: 80
üìÖ Fetching 2024-10-15 to 2024-11-14...
üîπ Got 10 articles for 2024-10-15 to 2024-11-14
üíæ Saved progress. Total articles: 90
üìÖ Fetching 2024-09-14 to 2024-10-14...
üîπ Got 10 articles for 2024-09-14 to 2024-10-14
üíæ Saved progress. Total articles: 100
üìÖ Fetching 2024-08-14 to 2024-09-13...
üîπ Got 10 articles for 2024-08-14 to 2024-09-13
üíæ Saved progress. Total articles: 110
üìÖ Fetching 2024-07-14 to 2024-08-13...
üîπ Got 10 articles for 2024-07-14 to 2024-08-13
üíæ Saved progress. Total articles: 120
üìÖ Fetching 2024-06-13 to 2024-07-13...
üîπ Got 10 articles for 2024-06-13 to 2024-07-13
üíæ Saved progress. Total articles: 130
üìÖ Fetching 2024-05-13 to 2024-06-12...
üîπ Got 10 articles for 2024-05-13 to 2024-06-12
üíæ Saved progress. Total articles: 140
üìÖ Fetching 2024-04-12 to 2024-05-12...
üîπ Got 10 articles for 2024-04-12 to 2024-05-12
üíæ Saved progress. Total articles: 150
üìÖ Fetching 2024-03-12 to 2024-04-11...
üîπ Got 10 articles for 2024-03-12 to 2024-04-11
üíæ Saved progress. Total articles: 160
üìÖ Fetching 2024-02-10 to 2024-03-11...
üîπ Got 10 articles for 2024-02-10 to 2024-03-11
üíæ Saved progress. Total articles: 170
üìÖ Fetching 2024-01-10 to 2024-02-09...
üîπ Got 10 articles for 2024-01-10 to 2024-02-09
üíæ Saved progress. Total articles: 180
üìÖ Fetching 2023-12-10 to 2024-01-09...
üîπ Got 10 articles for 2023-12-10 to 2024-01-09
üíæ Saved progress. Total articles: 190
üìÖ Fetching 2023-11-09 to 2023-12-09...
üîπ Got 10 articles for 2023-11-09 to 2023-12-09
üíæ Saved progress. Total articles: 200
üìÖ Fetching 2023-10-09 to 2023-11-08...
üîπ Got 10 articles for 2023-10-09 to 2023-11-08
üíæ Saved progress. Total articles: 210
üìÖ Fetching 2023-09-08 to 2023-10-08...
üîπ Got 10 articles for 2023-09-08 to 2023-10-08
üíæ Saved progress. Total articles: 220
üìÖ Fetching 2023-08-08 to 2023-09-07...
üîπ Got 10 articles for 2023-08-08 to 2023-09-07
üíæ Saved progress. Total articles: 230
üìÖ Fetching 2023-07-08 to 2023-08-07...
üîπ Got 10 articles for 2023-07-08 to 2023-08-07
üíæ Saved progress. Total articles: 240
üìÖ Fetching 2023-06-07 to 2023-07-07...
üîπ Got 10 articles for 2023-06-07 to 2023-07-07
üíæ Saved progress. Total articles: 250
üìÖ Fetching 2023-05-07 to 2023-06-06...
üîπ Got 10 articles for 2023-05-07 to 2023-06-06
üíæ Saved progress. Total articles: 260
üìÖ Fetching 2023-04-06 to 2023-05-06...
üîπ Got 10 articles for 2023-04-06 to 2023-05-06
üíæ Saved progress. Total articles: 270
üìÖ Fetching 2023-03-06 to 2023-04-05...
üîπ Got 10 articles for 2023-03-06 to 2023-04-05
üíæ Saved progress. Total articles: 280
üìÖ Fetching 2023-02-03 to 2023-03-05...
üîπ Got 10 articles for 2023-02-03 to 2023-03-05
üíæ Saved progress. Total articles: 290
üìÖ Fetching 2023-01-03 to 2023-02-02...
üîπ Got 10 articles for 2023-01-03 to 2023-02-02
üíæ Saved progress. Total articles: 300
üìÖ Fetching 2022-12-03 to 2023-01-02...
üîπ Got 10 articles for 2022-12-03 to 2023-01-02
üíæ Saved progress. Total articles: 310
üìÖ Fetching 2022-11-02 to 2022-12-02...
üîπ Got 10 articles for 2022-11-02 to 2022-12-02
üíæ Saved progress. Total articles: 320
üìÖ Fetching 2022-10-02 to 2022-11-01...
üîπ Got 10 articles for 2022-10-02 to 2022-11-01
üíæ Saved progress. Total articles: 330
üìÖ Fetching 2022-09-01 to 2022-10-01...
üîπ Got 10 articles for 2022-09-01 to 2022-10-01
üíæ Saved progress. Total articles: 340
üìÖ Fetching 2022-08-01 to 2022-08-31...
üîπ Got 10 articles for 2022-08-01 to 2022-08-31
üíæ Saved progress. Total articles: 350
üìÖ Fetching 2022-07-01 to 2022-07-31...
üîπ Got 10 articles for 2022-07-01 to 2022-07-31
üíæ Saved progress. Total articles: 360
üìÖ Fetching 2022-05-31 to 2022-06-30...
üîπ Got 10 articles for 2022-05-31 to 2022-06-30
üíæ Saved progress. Total articles: 370
üìÖ Fetching 2022-04-30 to 2022-05-30...
üîπ Got 10 articles for 2022-04-30 to 2022-05-30
üíæ Saved progress. Total articles: 380
üìÖ Fetching 2022-03-30 to 2022-04-29...
üîπ Got 10 articles for 2022-03-30 to 2022-04-29
üíæ Saved progress. Total articles: 390
üìÖ Fetching 2022-02-27 to 2022-03-29...
üîπ Got 10 articles for 2022-02-27 to 2022-03-29
üíæ Saved progress. Total articles: 400
üìÖ Fetching 2022-01-27 to 2022-02-26...
üîπ Got 10 articles for 2022-01-27 to 2022-02-26
üíæ Saved progress. Total articles: 410
üìÖ Fetching 2021-12-27 to 2022-01-26...
üîπ Got 10 articles for 2021-12-27 to 2022-01-26
üíæ Saved progress. Total articles: 420
üìÖ Fetching 2021-11-26 to 2021-12-26...
üîπ Got 10 articles for 2021-11-26 to 2021-12-26
üíæ Saved progress. Total articles: 430
üìÖ Fetching 2021-10-26 to 2021-11-25...
üîπ Got 10 articles for 2021-10-26 to 2021-11-25
üíæ Saved progress. Total articles: 440
üìÖ Fetching 2021-09-25 to 2021-10-25...
üîπ Got 10 articles for 2021-09-25 to 2021-10-25
üíæ Saved progress. Total articles: 450
üìÖ Fetching 2021-08-25 to 2021-09-24...
üîπ Got 10 articles for 2021-08-25 to 2021-09-24
üíæ Saved progress. Total articles: 460
üìÖ Fetching 2021-07-25 to 2021-08-24...
üîπ Got 10 articles for 2021-07-25 to 2021-08-24
üíæ Saved progress. Total articles: 470
üìÖ Fetching 2021-06-24 to 2021-07-24...
üîπ Got 10 articles for 2021-06-24 to 2021-07-24
üíæ Saved progress. Total articles: 480
üìÖ Fetching 2021-05-24 to 2021-06-23...
üîπ Got 10 articles for 2021-05-24 to 2021-06-23
üíæ Saved progress. Total articles: 490
üìÖ Fetching 2021-04-23 to 2021-05-23...
üîπ Got 10 articles for 2021-04-23 to 2021-05-23
üíæ Saved progress. Total articles: 500
üìÖ Fetching 2021-03-23 to 2021-04-22...
üîπ Got 10 articles for 2021-03-23 to 2021-04-22
üíæ Saved progress. Total articles: 510
üìÖ Fetching 2021-02-20 to 2021-03-22...
üîπ Got 10 articles for 2021-02-20 to 2021-03-22
üíæ Saved progress. Total articles: 520
üìÖ Fetching 2021-01-20 to 2021-02-19...
üîπ Got 10 articles for 2021-01-20 to 2021-02-19
üíæ Saved progress. Total articles: 530
üìÖ Fetching 2020-12-20 to 2021-01-19...
üîπ Got 10 articles for 2020-12-20 to 2021-01-19
üíæ Saved progress. Total articles: 540
üìÖ Fetching 2020-11-19 to 2020-12-19...
üîπ Got 10 articles for 2020-11-19 to 2020-12-19
üíæ Saved progress. Total articles: 550
üìÖ Fetching 2020-10-19 to 2020-11-18...
üîπ Got 10 articles for 2020-10-19 to 2020-11-18
üíæ Saved progress. Total articles: 560
üìÖ Fetching 2020-09-18 to 2020-10-18...
üîπ Got 10 articles for 2020-09-18 to 2020-10-18
üíæ Saved progress. Total articles: 570
üìÖ Fetching 2020-08-18 to 2020-09-17...
üîπ Got 10 articles for 2020-08-18 to 2020-09-17
üíæ Saved progress. Total articles: 580
üìÖ Fetching 2020-07-18 to 2020-08-17...
üîπ Got 10 articles for 2020-07-18 to 2020-08-17
üíæ Saved progress. Total articles: 590
üìÖ Fetching 2020-06-17 to 2020-07-17...
üîπ Got 10 articles for 2020-06-17 to 2020-07-17
üíæ Saved progress. Total articles: 600
üìÖ Fetching 2020-05-17 to 2020-06-16...
üîπ Got 10 articles for 2020-05-17 to 2020-06-16
üíæ Saved progress. Total articles: 610
üìÖ Fetching 2020-04-16 to 2020-05-16...
üîπ Got 10 articles for 2020-04-16 to 2020-05-16
üíæ Saved progress. Total articles: 620
üìÖ Fetching 2020-03-16 to 2020-04-15...
‚ö†Ô∏è Failed to fetch (403)
üìÖ Fetching 2020-02-14 to 2020-03-15...
‚ö†Ô∏è Failed to fetch (403)
üìÖ Fetching 2020-01-14 to 2020-02-13...
‚ö†Ô∏è Failed to fetch (403)
üìÖ Fetching 2020-01-01 to 2020-01-13...
‚ö†Ô∏è Failed to fetch (403)
‚úÖ Done for now. You can rerun tomorrow to continue.

In [45]:
import pandas as pd

daily_news = pd.read_csv("../data/gnews_partial.csv")
stock_df = pd.read_csv('../data/stock_data_4years.csv', skiprows=2)

stock_df.columns = ['Date', 'Close', 'High', 'Low', 'Open', 'Volume']

daily_news.head()

,title,description,content,publishedAt,source,url
0,Today in Apple history,"On June 18, 1993, Apple CEO John Sculley gave ...","June 18, 1993: John Sculley steps down as Appl...",2025-06-18T14:30:22Z,Cult of Mac,https://www.cultofmac.com/apple-history/john-s...
1,The AI Trade Is Back in Play: 2 Stocks to Buy ...,Consider Apple (NASDAQ:AAPL) and another cheap...,The AI (artificial intelligence) trade is gett...,2025-06-13T23:00:00Z,The Motley Fool Canada,https://www.fool.ca/2025/06/13/the-ai-trade-is...
2,China Tariff Easing Spurs Stock Market Surge A...,The ‚Äúdream scenario‚Äù for tech investors helped...,Topline Stocks surged across the board Monday ...,2025-05-12T04:00:00Z,Forbes,https://www.forbes.com/sites/dereksaul/2025/05...
3,Apple Faces New iPhone Fiasco as Update Bricks...,"Apple (AAPL) faces another wave of challenges,...","Apple (AAPL) faces another wave of challenges,...",2025-04-27T16:35:02Z,Business Insider,https://markets.businessinsider.com/news/stock...
4,2 Reasons I'm Considering Apple Stock for a $2...,Apple (NASDAQ:AAPL) stock looks like a deep-va...,The stock market has continued to experience a...,2025-04-23T14:00:00Z,The Motley Fool Canada,https://www.fool.ca/2025/04/23/2-reasons-im-co...

In [46]:
stock_df.head()

         Date       Close        High         Low        Open     Volume
0  2021-07-19  139.404251  140.989624  138.640930  140.676459  121434600
1  2021-07-20  143.025162  143.954862  139.903380  140.392689   96350000
2  2021-07-21  142.291168  143.005571  141.537642  142.418393   74993500
3  2021-07-22  143.661285  145.031346  142.692447  142.819672   77338200
4  2021-07-23  145.383606  145.540189  143.778672  144.395206   71447400

In [47]:
print(stock_df.shape)
print(stock_df.columns)

(1004, 6)
Index(['Date', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [48]:
print(daily_news.shape)
print(daily_news.columns)

(620, 6)
Index(['title', 'description', 'content', 'publishedAt', 'source', 'url'], dtype='object')

In [49]:
stock_df['date'] = pd.to_datetime(stock_df['Date']).dt.date

daily_news['date'] = pd.to_datetime(daily_news['publishedAt']).dt.date

In [50]:
stock_df

,Date,Close,High,Low,Open,Volume,date
0,2021-07-19,139.404251,140.989624,138.640930,140.676459,121434600,2021-07-19
1,2021-07-20,143.025162,143.954862,139.903380,140.392689,96350000,2021-07-20
2,2021-07-21,142.291168,143.005571,141.537642,142.418393,74993500,2021-07-21
3,2021-07-22,143.661285,145.031346,142.692447,142.819672,77338200,2021-07-22
4,2021-07-23,145.383606,145.540189,143.778672,144.395206,71447400,2021-07-23
...,...,...,...,...,...,...,...
999,2025-07-11,211.160004,212.130005,209.860001,210.570007,39765800,2025-07-11
1000,2025-07-14,208.619995,210.910004,207.539993,209.929993,38840100,2025-07-14
1001,2025-07-15,209.110001,211.889999,208.919998,209.220001,42296300,2025-07-15
1002,2025-07-16,210.160004,212.399994,208.639999,210.300003,47490500,2025-07-16
1003,2025-07-17,210.020004,211.800003,209.589996,210.570007,48010700,2025-07-17

In [51]:
daily_news

,title,description,content,publishedAt,source,url,date
0,Today in Apple history,"On June 18, 1993, Apple CEO John Sculley gave ...","June 18, 1993: John Sculley steps down as Appl...",2025-06-18T14:30:22Z,Cult of Mac,https://www.cultofmac.com/apple-history/john-s...,2025-06-18
1,The AI Trade Is Back in Play: 2 Stocks to Buy ...,Consider Apple (NASDAQ:AAPL) and another cheap...,The AI (artificial intelligence) trade is gett...,2025-06-13T23:00:00Z,The Motley Fool Canada,https://www.fool.ca/2025/06/13/the-ai-trade-is...,2025-06-13
2,China Tariff Easing Spurs Stock Market Surge A...,The ‚Äúdream scenario‚Äù for tech investors helped...,Topline Stocks surged across the board Monday ...,2025-05-12T04:00:00Z,Forbes,https://www.forbes.com/sites/dereksaul/2025/05...,2025-05-12
3,Apple Faces New iPhone Fiasco as Update Bricks...,"Apple (AAPL) faces another wave of challenges,...","Apple (AAPL) faces another wave of challenges,...",2025-04-27T16:35:02Z,Business Insider,https://markets.businessinsider.com/news/stock...,2025-04-27
4,2 Reasons I'm Considering Apple Stock for a $2...,Apple (NASDAQ:AAPL) stock looks like a deep-va...,The stock market has continued to experience a...,2025-04-23T14:00:00Z,The Motley Fool Canada,https://www.fool.ca/2025/04/23/2-reasons-im-co...,2025-04-23
...,...,...,...,...,...,...,...
615,Microsoft stock or Apple shares: Which is the ...,Apple Inc (NASDAQ: AAPL) shares used to have t...,Microsoft stock or Apple shares: Which is the ...,2025-04-11T04:06:46Z,Motley Fool Australia,https://www.fool.com.au/2025/04/11/microsoft-s...,2025-04-11
616,"AAPL, JPM, GM: U.S. Stock Market Has Lost $11 ...",A total of $11.1 trillion has been wiped off t...,A total of $11.1 trillion has been wiped off t...,2025-04-05T01:14:54Z,Business Insider,https://markets.businessinsider.com/news/stock...,2025-04-05
617,Morgan Stanley cut Apple price target over tar...,Morgan Stanley cut its price target on Apple (...,00:00 Speaker A\nApple getting a price target ...,2025-03-12T14:31:51Z,Yahoo Finance,https://finance.yahoo.com/video/morgan-stanley...,2025-03-12
618,"1 Essential ""Magnificent 7"" Stock for Canadian...",Apple (NASDAQ:AAPL) stands out as an intriguin...,It‚Äôs hard to avoid the buzz about the Magnific...,2025-02-20T16:45:00Z,The Motley Fool Canada,https://www.fool.ca/2025/02/20/1-essential-mag...,2025-02-20
619,Apple vs. Shopify: Which Stock Is the Better B...,Apple (NASDAQ:AAPL) and Shopify (TSX:SHOP) are...,Canadian investors looking for long-term growt...,2024-12-14T01:00:00Z,The Motley Fool Canada,https://www.fool.ca/2024/12/13/apple-vs-shopif...,2024-12-14

In [52]:
# Combine title, description, and content into one text column
daily_news['text'] = (
    daily_news['title'].fillna('') + '. ' +
    daily_news['description'].fillna('') + '. ' +
    daily_news['content'].fillna('')
)

# Group all news per date into one big string (this gives one row per date)
grouped_news = daily_news.groupby('date')['text'].apply(lambda x: ' '.join(x)).reset_index()
grouped_news

         date                                               text
0  2024-12-14  Apple vs. Shopify: Which Stock Is the Better B...
1  2025-02-20  1 Essential "Magnificent 7" Stock for Canadian...
2  2025-03-12  Morgan Stanley cut Apple price target over tar...
3  2025-04-05  AAPL, JPM, GM: U.S. Stock Market Has Lost $11 ...
4  2025-04-11  Microsoft stock or Apple shares: Which is the ...
5  2025-04-23  2 Reasons I'm Considering Apple Stock for a $2...
6  2025-04-27  Apple Faces New iPhone Fiasco as Update Bricks...
7  2025-05-12  China Tariff Easing Spurs Stock Market Surge A...
8  2025-06-13  The AI Trade Is Back in Play: 2 Stocks to Buy ...
9  2025-06-18  Today in Apple history. On June 18, 1993, Appl...

In [55]:
merged_df = pd.merge(stock_df, grouped_news, on='date', how='left')

merged_df['text'] = merged_df['text'].fillna('')

In [56]:
merged_df

,Date,Close,High,Low,Open,Volume,date,text
0,2021-07-19,139.404251,140.989624,138.640930,140.676459,121434600,2021-07-19,
1,2021-07-20,143.025162,143.954862,139.903380,140.392689,96350000,2021-07-20,
2,2021-07-21,142.291168,143.005571,141.537642,142.418393,74993500,2021-07-21,
3,2021-07-22,143.661285,145.031346,142.692447,142.819672,77338200,2021-07-22,
4,2021-07-23,145.383606,145.540189,143.778672,144.395206,71447400,2021-07-23,
...,...,...,...,...,...,...,...,...
999,2025-07-11,211.160004,212.130005,209.860001,210.570007,39765800,2025-07-11,
1000,2025-07-14,208.619995,210.910004,207.539993,209.929993,38840100,2025-07-14,
1001,2025-07-15,209.110001,211.889999,208.919998,209.220001,42296300,2025-07-15,
1002,2025-07-16,210.160004,212.399994,208.639999,210.300003,47490500,2025-07-16,
1003,2025-07-17,210.020004,211.800003,209.589996,210.570007,48010700,2025-07-17,